<div class="row">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a ng-repeat="t in tabs" class="tab-item" ng-class="{'active': $index==tab}" ng-click="select($index)">{{t}}</a>
        </div>
    </div>
</div>
<div class="row">
    <div ng-if="tab==0" class="card" style="margin-top:50%">
        FERMATE
    </div>

    <div ng-if="tab==1" class="card" style="margin-top:50%">
        LINEE
    </div>
</div>



        <!--<ion-list class="bookmark-list" can-swipe="true" show-reorder="showReorder">
            <!--            <ion-item id="focusHere" class="item-icon-left" ng-class="{'bookmark-margin':!showReorder}" item="item" ng-repeat="m in bookmarks track by $index" ng-last-repeat="bookmarks" ng-click="go(m.state)">
            <ion-item id="focusHere" class="item-icon-left" ng-class="{'bookmark-margin':!showReorder}" item="item" ng-repeat="m in bookmarks track by $index" ng-click="go(m.state)">
                <h2>
          <i class="icon img" ng-class="m.icon" style="{{'color: '+m.color}}"></i>
          <span>{{m.label | translate}}</span>
        </h2>
                <ion-option-button ng-if="m.removable" class="button button-clear" ng-click="delete($index, $event)"><i class="icon ion-android-delete"></i></ion-option-button>
                <ion-reorder-button class="button button-clear ion-drag" on-reorder="reorder($fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
-->



        <div ng-if="(!bookmarks || bookmarks.length == 0)" class="text-center">
            <h4>{{'no_data' | translate}}</h4>
        </div>
