<ion-view>

  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <!--    <button class="button button-icon button-clear button-home ion-map nav-buttons-lat" ng-class="{'ion-map': homeTab != 2, 'ion-help': homeTab == 2}" ng-click="action()" aria-label="{'Visualizza Mappa': homeTab != 2, 'Visualizza Tutorial': homeTab == 2}" ng-if="standardAccessibility"></button>-->
    <button class="button button-icon button-clear button-home nav-buttons-lat ion-help" ng-if="homeTab == 2" ng-click="forceTutorial()" aria-label="Visualizza Tutorial" ng-if="standardAccessibility"></button>
    <button class="button button-icon button-clear button-home  nav-buttons-lat ion-map" ng-if="homeTab != 2" ng-click="showMap()" aria-label="Visualizza Mappa" ng-if="standardAccessibility"></button>

  </ion-nav-buttons>
  <ion-tabs class="tabs-icon-only tabs-positive" role="tablist" delegate-handle="homeTabs">

    <ion-tab icon="ic_urban-bus" on-select="select(0)" aria-label="Orari Urbani" title="Orari urbani" role="tab">
      <ion-view ng-if="homeTab == 0">
        <ion-content has-header="true" ng-controller="TTRouteListCtrl" ng-init="init('urbano')">
          <div ng-include="'templates/ttroutelist.html'"></div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ic_train" on-select="select(1)" aria-label="Orari Treni" title="Orari extraurbani" role="tab">
      <ion-view ng-if="homeTab == 1">
        <ion-content has-header="true" ng-controller="TTRouteListCtrl" ng-init="init('trains')">
          <div ng-include="'templates/ttroutelist.html'"></div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-ios-star" on-select="select(2)" aria-label="Preferiti" title="Preferiti" role="tab">
      <ion-view ng-if="homeTab == 2">
        <div ng-include="'templates/bookmarks.html'" ng-controller="BookmarksCtrl" ng-init="init()"></div>
      </ion-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
