<ion-view>
    <ion-nav-title>{{viewTitle}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-map nav-buttons-lat" ng-class="{'ion-map': tab != 2, 'ion-help': tab == 2}" ng-click="action()" aria-label="Visualizza Mappa"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-only tabs-positive">

      <ion-tab icon="ic_urban-bus" on-select="select(0)" aria-label="Orari Urbani" title="Orari urbani" role="tab">
        <ion-view ng-if="tab == 0">
          <ion-content has-header="true"  ng-controller="TTRouteListCtrl" ng-init="init('urbano')">
            <div ng-include="'templates/ttroutelist.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab icon="ic_train" on-select="select(1)" aria-label="Orari Treni" title="Orari extraurbani" role="tab">
        <ion-view ng-if="tab == 1">
          <ion-content has-header="true"  ng-controller="TTRouteListCtrl" ng-init="init('trains')">
            <div ng-include="'templates/ttroutelist.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab icon="ion-ios-star" on-select="select(2)" aria-label="Preferiti" title="Preferiti" role="tab">
        <ion-view ng-if="tab == 2">
          <ion-content has-header="true"  ng-controller="BookmarksCtrl" ng-init="init()">
            <div ng-include="'templates/bookmarks.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

    </ion-tabs>
</ion-view>
