<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-menu-content="false" edge-drag-threshold="true">
        <ion-nav-bar class="bar-positive-100" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text" aria-label="torna indietro">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear nav-buttons-lat" menu-toggle="left" aria-label="Menu laterale">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="leftmenu">
            <ion-list>
                <div class="fs-header"></div>
                <ion-item nav-clear menu-close href="#/app/home/ttbus" class="menu-main item-icon-left">
                    <i class="icon ic_home"></i>{{'menu_home' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="questionnaireWindow()" class="menu-main item-icon-left">
                    <i class="icon ion-help-circled"></i>{{'menu_questionary' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/termine"  class="menu-last item-icon-left">
                    <i class="icon ion-alert-circled"></i>{{'menu_terms_of_service'| translate}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openCredits()" class="menu-last item-icon-left">
                    <i class="icon ic_info"></i>{{'menu_credits' | translate}}
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
