<style>
.scroll-content {
  height: calc(100% - 100px) !important;
}
</style>
<ion-view title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-class="bookmarkStyle" role="button" aria-label="Aggiungi la linea nei preferiti" ng-click="bookmark()"></button>
    </ion-nav-buttons>
    <ion-content id="content" has-header="true" has-bouncing="false">
        <div class="row date-bar" style="background-color: {{color}}; color: {{textColor(color)}} !important; margin-top:13px;">
            <div class="col col-25 tt-day btn" ng-click="prevDate()" role="button" aria-label="Giorno precedente"><a><i class="icon ion-arrow-left-b"></i></a>
            </div>
            <div class="col col-50 tt-day">{{runningDate | dowDate}} {{runningDate | date : 'dd/MM/yyyy'}}</div>
            <div class="col col-25 tt-day btn" ng-click="nextDate()" aria-label="Giorno successivo"><a><i class="icon ion-arrow-right-b"></i></a>
            </div>
        </div>
        <!--
        <div ng-if="dataStr" id="table-corner" style="width:{{stopsColWidth}}px; height:{{tableHeaderHeight}}px">
            <div>{{tableCornerStr[0]}}</div>
            <div ng-if="header_row_number == 2">{{tableCornerStr[1]}}</div>
        </div>-->
        <div>
            <h6 class="bus-ride-text">Fermata più vicina</h6>
            <div class="card ride">
                <div class="item item-text-wrap no-padding-item">
                    <div class="row stop-row">
                        <div class="col col-60">
                            <h6>Fermata:</h6>
                            <h3>{{nearestStop.name}}</h3>
                        </div>
                        <div class="col">
                            <h6>Ora di arrivo:</h6>
                            <h2>00:00</h2>
                        </div>
                    </div>
                    <div class="row stop-row">
                        <div class="col">
                            <h6>La fermata si trova ad ore X rispetto alla tua posizione attuale</h6>
                        </div>

                    </div>

                </div>
                <div class="item item-divider full-width-card-icons" ng-controller="TTStopCtrl" ng-init="setStopDataInit()">
                    <div class="tabs tabs-icon-only">
                        <a class="tab-item">
                            <i class="icon ion-ios-cart"></i>
                        </a>
                        <a class="tab-item" ng-click="showStopData()">
                            <i class="icon ion-clock"></i>
                        </a>
                        <a class="tab-item">
                            <i ng-class="bookmarkStyle" ng-click="bookmark()"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-ios-location"></i>
                        </a>
                    </div>
                </div>
        </div>
        <h6 class="bus-ride-text">Elenco fermate</h6>

        <div class="card ride" ng-repeat="stop in distanceToStop | startFrom : 1">
            <div class="item item-text-wrap no-padding-item">
                <div class="row stop-row">
                    <div class="col col-60">
                        <h6>Fermata:</h6>
                        <h2>{{stop.name}}</h2>
                    </div>
                    <div class="col">
                        <h6>Ora di arrivo:</h6>
                        <h2>00:00</h2>
                    </div>
                </div>     
                <div class="row" style="color: {{color}};" ng-click="show = !show">
                    <i class="detail-icon" ng-class="{'icon ion-ios-arrow-down': !show, 'icon ion-ios-arrow-up': show}"></i>
                </div>
            </div>
            <div ng-show="show" class="item item-divider full-width-card-icons">
                    <div class="tabs tabs-icon-only">
                        <a class="tab-item">
                            <i class="icon ion-ios-cart"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-clock"></i>
                        </a>
                        <a class="tab-item">
                            <i ng-class="bookmarkStyle" ng-click="bookmark()"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-ios-location"></i>
                        </a>
                    </div>
            </div>
    </div>
            
        <!---------------------------------------------------------------->
            
            <div ng-if="tt && tt.tripIds.length == 0" class="text-center">
                <h4>{{'no_tt' | translate}}</h4>
            </div>
            <div id="measurer" style="white-space: nowrap;font-family: RobotoMono;font-size: 12px;color: transparent;background-color: transparent;position:absolute;">123456789</div>
        </div>
    </ion-content>
   <ion-tabs class="tabs-icon-only tabs-positive" role="tablist">

      <ion-tab icon="ic_urban-bus" on-select="select(0)" aria-label="Orari Urbani" title="Orari urbani" role="tab">
        <ion-view ng-if="tab == 0">
          <ion-content has-header="true"  ng-controller="TTRouteListCtrl" ng-init="init('urbano')">
            <div ng-include="'templates/ttroutelist.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab icon="ic_train" on-select="select(1)" aria-label="Orari Treni" title="Orari extraurbani" role="tab">
        <ion-view ng-if="tab == 1">
          <ion-content has-header="true"  ng-controller="TTRouteListCtrl" ng-init="init('trains')">
            <div ng-include="'templates/ttroutelist.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab icon="ion-ios-star" on-select="select(2)" aria-label="Preferiti" title="Preferiti" role="tab">
        <ion-view ng-if="tab == 2">
          <ion-content has-header="true"  ng-controller="BookmarksCtrl" ng-init="init()">
            <div ng-include="'templates/bookmarks.html'"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

    </ion-tabs>
<!--
    <div ng-controller="BusRideCtrl">
        <div class="bar bar-footer">
            <div class="tabs tabs-icon-left bus-ride">
                <a class="tab-item">
                    <i class="icon ion-arrow-left-b"></i>
                    <span class="bus-ride-text-footer">Corsa Precedente</span>
                </a>
                <a class="tab-item" ng-click="openTimePicker()">
                    <span class="bus-ride-text-footer">Inserisci Ora</span>
                </a>
                <a class="tab-item">
                    <span class="bus-ride-text-footer">Corsa Successiva</span>
                    <i class="icon ion-arrow-right-b"></i>
                </a>
            </div>
        </div>
    </div>
-->
</ion-view>