<style>
    .scroll-content {
        height: calc(100% - 100px) !important;
    }
</style>
<ion-view title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-class="bookmarkStyle" role="button" aria-label="Aggiungi la linea nei preferiti" ng-click="bookmark(color)"></button>
    </ion-nav-buttons>
    <ion-content id="content" has-header="true" has-bouncing="false">
        <div class="row date-bar" style="background-color: {{color}}; color: {{textColor(color)}} !important; margin-top:13px;">
            <div class="col col-25 tt-day btn" ng-click="prevDate()" role="button" aria-label="Giorno precedente">
                <a><i class="icon ion-arrow-left-b disableFocusItem"></i></a>
            </div>
            <div class="col col-50 tt-day">{{runningDate | dowDate}} {{runningDate | date : 'dd/MM/yyyy'}}</div>
            <div class="col col-25 tt-day btn" ng-click="nextDate()" aria-label="Giorno successivo" role="button">
                <a><i class="icon ion-arrow-right-b disableFocusItem"></i></a>
            </div>
        </div>
        <!--
        <div ng-if="dataStr" id="table-corner" style="width:{{stopsColWidth}}px; height:{{tableHeaderHeight}}px">
            <div>{{tableCornerStr[0]}}</div>
            <div ng-if="header_row_number == 2">{{tableCornerStr[1]}}</div>
        </div>-->
            <h6 class="bus-ride-text">Fermata più vicina</h6>
            <div class="card ride" aria-label="Linea {{title}}. Fermata più vicina: {{nearestStop.name}}. Ora di arrivo: 00:00. Servizio disabili {{nearestStop.wcAvailable}}">
                    <div class="item item-text-wrap no-padding-item">
                        <div class="row stop-row">
                            <div class="col col-64">
                                <h6 class="disableFocusItem">Fermata:</h6>
                                <h3 class="disableFocusItem">{{nearestStop.name}}</h3>
                            </div>
                            <div class="col">
                                <h6 class="disableFocusItem">Ora di arrivo:</h6>
                                <h2 class="disableFocusItem">00:00</h2>
                            </div>
                        </div>
                        <div class="row stop-row">
                            <div class="col">
                                <h6>La fermata si trova ad ore X rispetto alla tua posizione attuale</h6>
                            </div>

                        </div>

                    </div>
                    <div class="item item-divider full-width-card-icons" ng-controller="TTStopCtrl" ng-init="setStopDataInit()">
                        <div class="tabs tabs-icon-only">
                            <a class="tab-item" ng-show="nearestStop.wheelchair > 1" aria-label="Servizio disabili disponibile">
                                <i class="icon ion-ios-cart disableFocusItem"></i>
                            </a>
                            <a class="tab-item" aria-label="Visualizza gli orari della fermata" role="button" ng-click="showStopData(nearestStop.id)">
                                <i class="icon ion-clock disableFocusItem"></i>
                            </a>
                            <a class="tab-item" aria-label="Aggiungi la fermata ai preferiti" role="button" ng-click="bookmark(0,color)">
                                <i class="icon disableFocusItem" ng-class="bookmarkStyle"></i>
                            </a>
                            <a class="tab-item" aria-label="Ottieni Indicazioni Stradali" role="button">
                                <i class="icon ion-ios-location disableFocusItem"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <h6 class="bus-ride-text">Elenco fermate</h6>

            <div class="card ride" ng-repeat="stop in distanceToStop | startFrom : 1" aria-label="Linea {{title}}. Fermata: {{stop.name}}. Ora di arrivo: 00:00. Servizio disabili {{stop.wcAvailable}}">
                <div class="item item-text-wrap no-padding-item">
                    <div class="row stop-row">
                        <div class="col col-64">
                            <h6 class="disableFocusItem">Fermata:</h6>
                            <h2 class="disableFocusItem">{{stop.name}}</h2>
                        </div>
                        <div class="col">
                            <h6 class="disableFocusItem">Ora di arrivo:</h6>
                            <h2 class="disableFocusItem">00:00</h2>
                        </div>
                    </div>
                    <div class="row" style="color: {{color}};" ng-click="show = !show" aria-label="Visualizza Dettagli fermata" role="button">
                        <i class="detail-icon"  ng-class="{'icon ion-ios-arrow-down': !show, 'icon ion-ios-arrow-up': show}"></i>
                    </div>
                </div>
                <div ng-show="show" class="item item-divider full-width-card-icons" ng-controller="TTStopCtrl" ng-init="setStopDataInit($index+1)">
                    <div class="tabs tabs-icon-only">
                        <a class="tab-item disableFocusItem" ng-show="stop.wheelchair > 1" aria-label="Servizio disabili disponibile">
                            <i class="icon ion-ios-cart disableFocusItem"></i>
                        </a>
                        <a class="tab-item" aria-label="Visualizza gli orari della fermata" role="button" ng-click="showStopData(stop.id)">
                            <i class="icon ion-clock disableFocusItem"></i>
                        </a>
                        <a class="tab-item" aria-label="Aggiungi la fermata ai preferiti" role="button" ng-click="bookmark($index+1, color)">
                            <i class="icon disableFocusItem" ng-class="bookmarkStyle"></i>
                        </a>
                        <a class="tab-item" aria-label="Ottieni Indicazioni Stradali" role="button">
                            <i class="icon ion-ios-location disableFocusItem"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------->
          <!--</div>-->
            <div ng-if="tt && tt.tripIds.length == 0" class="text-center">
                <h4>{{'no_tt' | translate}}</h4>
            </div>
            <div id="measurer" style="white-space: nowrap;font-family: RobotoMono;font-size: 12px;color: transparent;background-color: transparent;position:absolute;">123456789</div>
        <!--</div>-->
    </ion-content>

    <ion-tabs ng-controller="BusRideCtrl" class="tabs-icon-only tabs-positive" role="tablist">
        <ion-tab icon="ion-arrow-left-b" aria-label="Corsa precedente" title="Corsa precedente" role="tab">
        </ion-tab>

        <ion-tab icon="ion-ios-clock-outline" ng-click="openTimePicker()" aria-label="Inserisci ora" title="Inserisci ora" role="tab">
        </ion-tab>

        <ion-tab icon="ion-arrow-right-b" aria-label="Corsa successiva" title="Corsa successiva" role="tab">
        </ion-tab>

    </ion-tabs>
    <!--
        <div ng-controller="BusRideCtrl">
            <div class="bar bar-footer">
                <div class="tabs tabs-icon-left bus-ride">
                    <a class="tab-item">
                        <i class="icon ion-arrow-left-b"></i>
                        <span class="bus-ride-text-footer">Corsa Precedente</span>
                    </a>
                    <a class="tab-item" ng-click="openTimePicker()">
                        <span class="bus-ride-text-footer">Inserisci Ora</span>
                    </a>
                    <a class="tab-item">
                        <span class="bus-ride-text-footer">Corsa Successiva</span>
                        <i class="icon ion-arrow-right-b"></i>
                    </a>
                </div>
            </div>
        </div>
    -->
</ion-view>