<ion-view>
        <ion-nav-title>
            FERMATA : {{stopData.name}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-class="bookmarkStyle" ng-click="bookmark()"></button>
        </ion-nav-buttons>
        <ion-content>
        <div ng-repeat="stop in stopList" class="stop-list">
            <div class="row fermata-row" style="background-color: {{stop.routeElement.color}} !important">
                <div class="fermata-row-description">
                    <h3>LINEA {{stop.routeObject.label}} - {{title[$index]}}</h3>
                </div>
            </div>
            <div class="card card-ttstop" ng-repeat="t in stop.times">
                <div class="item item-text-wrap font-orari text-center">{{t.time | date:'HH.mm'}}</div>
            </div>
            <div ng-if="isEmpty()" class="text-center">
                <h4>{{'no_data' | translate}}</h4>
            </div>
        </div>
            </ion-content>
        </div>
</ion-view>
